[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
pyquaternion = "*"
chartify = "*"
jupyter = "*"
ipython = "*"
ipykernel = "*"
jupyterlab = "*"
tensorboard = "*"
keras = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.5"
